@tailwind base;
@tailwind components;
@tailwind utilities;

.banner{
    background-image: url('/public/sulur-service-center.jpeg');
    background-size: cover; /* Adjust based on your preference */
    background-position: center; 
}